.productGrid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Create responsive card layout */
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-10px); /* Lift effect on hover */
}

.cardHeader {
  background-color: #f4f4f4;
  padding: 15px;
  text-align: center;
  flex: 1;
}

.cardHeader h2 {
  font-size: 18px;
  margin: 0;
  color: #333;
  font-weight: bold;
}

.cardBody {
  padding: 20px;
  text-align: center;
}

.productImage {
  max-width: 100%;
  height: 200px;
  object-fit: contain; /* Ensure image fits inside card */
}

.cardFooter {
  background-color: #f4f4f4;
  padding: 15px;
  text-align: center;
}

.cardFooter p {
  margin: 5px 0;
  color: #666;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #e67e22; /* Orange color for price */
}

.quantityControls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.quantityInput {
  width: 40px;
  text-align: center;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 10px;
}

.incrementBtn,
.decrementBtn {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.incrementBtn:hover,
.decrementBtn:hover {
  background-color: #0056b3;
}

.addToCartBtn {
  background-color: #e67e22;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.addToCartBtn:hover {
  background-color: #d35400;
}
